body {
    background: #f6f5f5;
    background-color: #fff;
    background-image: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

    body * {
        font-family: Helvetica,Arial,sans-serif;
    }

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #222;
    font-size: 32px;
    line-height: 1.2em;
    margin: 0px 0 .5em 0;
}

h2 {
    color: #222;
    font-size: 26px;
    line-height: 1.3em;
    margin: 1.07em 0 .535em 0;
}

    h2:first-child {
        margin-top: 0;
    }

h3 {
    color: #333;
    font-size: 21px;
    line-height: 1.25em;
    margin: .7em 0 .25em 0;
}

h4 {
    color: #333;
    font-size: 17px;
    line-height: 1.4em;
    margin: 1.14em 0 .57em 0;
}

h5 {
    color: #333;
    font-size: 16px;
    line-height: 1.6em;
    margin: 1.14em 0 .47em 0;
}

h6 {
    color: #333;
    font-size: 15px;
    line-height: 1.6em;
    margin: .9em 0 .4em 0;
}

p {
    color: #333;
    line-height: 1.6em;
    margin: 1.07em 0 .535em 0;
    font-size: 13px;
}

a:focus, input {
    outline: none!important;
}

a:link, a:visited {
    color: #3095b4;
}

a:hover, a:focus, a:active {
    color: #e98300;
}

.container, .cabecera, .body, nav {
    min-width: 960px;
    max-width: 960px;
    width: 960px;
}

.separador {
    display: block;
    background-image: url(/Images/sombreado.png);
    background-position: 100% -87px;
    height: 29px;
    right: 0px;
    top: 0px;
    width: 100px;
    content: '';
}
.body {
margin-top:20px;
}
.computador, .formulario-registro {
    min-width: 470px;
    max-width: 470px;
    width: 470px;
    display: inline;
    float: left;
}

.formulario-registro {
    margin-left: 20px;
}

form {
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 1px;
    padding: 5px;
    margin: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    text-align: left;
}

    form .placeholding-input {
        display: block;
        width: 276px;
        margin: 6px auto;
    }

    form input {
        width: 266px;
        height: 20px;
        border: 1px solid #CCC;
        -webkit-box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
        box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
        padding: 4px;
        margin: 0;
        outline: 0;
        background-color: white;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font-size: 13px;
        line-height: 20px;
    }

    form label {
        right: 1px;
        bottom: 1px;
        left: 2px;
        height: 20px;
        padding: 4px;
        font-size: 13px;
        line-height: 20px;
        color: #999;
        white-space: nowrap;
        cursor: text;
        -webkit-transition: opacity .1s,font-size .1s;
        -webkit-user-select: none;
        user-select: none;
        display: block;
        margin-bottom: 5px;
        margin: 0;
    }

input[type="submit"] {
    border: none;
    background-image: none;
    background-color: #222;
    display: block;
    max-width: 175px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    list-style: none;
    list-style-position: outside!important;
    height: 30px;
}

.field-validation-error {
    color: red;
    display: inline;
}

nav {
    background: #333;
    height:35px;
    clear:both;
}

    nav li {
        display: inline;
        height:35px;
    }

    nav ul li a {
        padding: 10px;
        border-left: 1px solid black;
        border-bottom: none;
        font-weight: bold;
        color: white !important;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        text-align: center;
    }
.parrafo {
font-size:16px;
}
.como-funciona {
margin-top:20px;
display:block;
}
