<!DOCTYPE html>
<head>
    <title>Womyads</title>
</head>
<body>
    <div>
    <div>
        <img src="@Url.Content("~/Images/Womyads.png")"/>
    </div>
    <div>
        <img src="@Url.Content("~/Images/sombreada.png")" />
    </div>
</div>
    @RenderBody()
</body>
